$blue-color: #22577E;
$white-color: #F7F7F7;
$green-color: #03bc9d;
$grey-color: rgba(208, 211, 212, 0.399);
$grey-alternative-color: #5d5e61;
$dark-white-color: rgba(238, 238, 238, 0.802);
$black-color: rgba(0, 0, 0, 0.798);
$red-color: red;

$primary-font: 'Helvetica Neue', 'Arial Nova', sans-serif;