//Utilities
@import '_vars';
@import '_helpers';
@import 'breakpoints';

* {
    font-family: $primary-font;
}

body {
    background-color: $blue-color;
    display: flex;
    justify-content: center;

    main {
        display: flex;
        flex-direction: column;
        width: 640px;
        background-color: $white-color;
        border-radius: 10px;

        form {
            padding: 25px;

            //validation frame class
            .error-frame {
                box-shadow: 0 0 5px $red-color;
            }

            //validation error message class
            .error-message {
                color: $red-color;
                font-size: 1rem;

                @include xs {
                    font-size: .85rem;
                }
            }
        }

        .head {
            background-color: $grey-color;
            padding: 25px;
            margin: -25px -25px 15px -25px;
            border-radius: 10px 10px 0 0;
            border-bottom: 1.5px solid $grey-color;
            color: $grey-alternative-color;
            font-size: 2.3em;
            text-align: center;

            @include sm {
                font-size: 1.5rem;
            }
        }

        .label-text {
            font-size: 1.4em;
            font-weight: bold;
            color: $green-color;

            @include sm {
                font-size: 1.2rem;
            }
        }

        .name {
            @extend %row-blocks;
            

            .first-n {
                @extend %column-blocks;
            }

            .second-name {
                @extend %column-blocks;
            }
        }

        .email-address {
            @extend %column-blocks;
        }

        .pas {
            @extend %row-blocks;

            .userpass {
                @extend %column-blocks;
            }

            .pas-confirm {
                @extend %column-blocks;
            }
        }

        .gend-hobb {
            @extend %row-blocks;
            flex-direction: row;

            .txt {
                color: $grey-alternative-color;
                font-size: 1.1rem;

                @include sm {
                    font-size: 1rem;
                }
            }

            .gender {
                @extend %column-blocks;
            }

            .hobbies {
                @extend %column-blocks;
            }

            .radioboxes {
                @extend %row-blocks;
            }

            .checkboxes {
                @extend %row-blocks;
            }
        }

        .income {
            @extend %row-blocks;

            .src-inc {
                @extend %column-blocks;
            }

            .inc {
                @extend %column-blocks;
            }

            .range {
                @extend %row-blocks;
                flex-direction: row;
                justify-content: space-between;
            }

            .btn-20k {
                color: $white-color;
                background-color: $green-color;
                padding: 8px;
                text-decoration: none;
                font-size: 1.3em;
                border-radius: 7px;
            }

            input[type="range"] {
                -webkit-appearance: none;
                border: none;
                background: none;
                margin-left: 0;
                padding-left: 0;
                width: 100%;

                &::-webkit-slider-runnable-track {
                    background: rgba(93, 94, 97, .501);
                    height: 8px;
                    border-radius: 5px;
                }

                &::-moz-range-track {
                    background: rgba(93, 94, 97, .501);
                    height: 8px;
                    border-radius: 5px;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 20px;
                    width: 20px;
                    margin-top: -6px;
                    background: $white-color;
                    border: 1.5px solid rgba(93, 94, 97, .5);
                    border-radius: 50%;
                }
            }
        }

        .image-age {
            @extend %row-blocks;

            .image {
                @extend %column-blocks;

                input {
                    border: none;
                }

                input[type="file"] {
                    padding-left: 0;
                    font-size: .75rem;

                    &::-webkit-file-upload-button {
                        border-radius: 5px;
                        width: 40%;
                        font-size: 1em;
                        padding: 7px 10px 7px 4px;
                        background-color: $white-color;
                        border: 1px solid rgba(93, 94, 97, .5);
                    }
                }
            }

            .age {
                @extend %column-blocks;

                & ::placeholder {
                    color: $grey-alternative-color;
                }
            }
        }

        .bio {
            @extend %column-blocks;
        }

        .create-btn {
            display: flex;
            align-self: flex-end;
            color: $dark-white-color;
            background-color: $green-color;
            text-decoration: none;
            padding: 10px 20px;
            font-size: 1.3em;
            border-radius: 7px;
            margin: 20px 12px 0 auto;
            border: none;

            @include sm {
                font-size: 1.2rem;
                margin-right: 6px;
            }
        }

        button[type="submit"] {
            cursor: pointer;
            transition: background-color 1s;

            &:hover {
                background-color: rgba(3, 188, 157, .51);
            }
        }
    }

    input,
    option,
    textarea {
        border-radius: 5px;
        padding: 12px 12px 7px 12px;
        border: 1.5px solid rgba(93, 94, 97, .274);
        margin-top: 12px;
    }

    textarea {
        resize: none;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        font-family: $primary-font;
        font-size: 1.2em;
        font-weight: light;
        color: $black-color;
        padding: 5px 8px 7px;

        @include sm {
            font-size: 1rem;
        }
    }

    select {
        border-radius: 5px;
        border: 1.5px solid rgba(93, 94, 97, .274);
        padding: 5px;
        font-size: 1.3em;
        color: $black-color;

        @include sm {
            font-size: 1rem;
        }
    }
}